.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  @media (prefers-color-scheme: dark) {
    background: #111;
  }
}

.list {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1);
  }
}
