.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  @media (prefers-color-scheme: dark) {
    border-color: #222;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  a {
    color: #0070f3;
    text-decoration: none;
    &hover,
    &focus,
    &active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.menu {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.author {
  display: inline;
  &:hover {
    text-decoration: underline;
  }
}

.cartButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  display: flex;
  cursor: pointer;
}
