@use "colors";

.wrapper {
  height: 200px;
  margin: 1rem auto;
  background-color: ghostwhite;
  border-radius: 0.5rem;
  outline: 5px solid black;
  color: black;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.pizzaImage {
  width: 300px;
  border-right: 5px solid black;
}

.pizzaList {
  padding-left: 0;
  margin-top: 0;

  li {
    display: inline;
  }
}

.prices {
  span {
    margin-right: 1rem;
  }

  th,
  td {
    padding-right: 1rem;
    text-align: center;
  }
}

.pizzaSelect {
  margin-top: 1rem;

  select,
  input {
    margin-left: 0.5rem;
  }
}
.shoppingCartIcon {
  margin-right: 0.5rem;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
