@use "colors";

.wrapper {
  width: 800px;
  height: 300px;
  margin: 1rem auto;
}

.title {
  font-size: 1.5rem;
}

.pizzaImage {
  width: 300px;
}

.pizzaList {
  padding-left: 0;

  li {
    display: inline;
  }
}

.prices {
  span {
    margin-right: 1rem;
  }

  th,
  td {
    padding-right: 1rem;
    text-align: center;
  }
}

.pizzaSelect {
  margin-top: 1rem;

  select,
  input {
    margin-left: 0.5rem;
  }
}
.shoppingCartIcon {
  margin-right: 0.5rem;
}
