@use "colors";

.card {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 800px;
  height: 300px;
  display: flex;

  .description {
    margin-left: 1rem;
    padding: 1.5rem;

    h3 {
      font-size: 1.5rem;
    }
  }

  .pizzaImage {
    width: 300px;
    height: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
  }

  &:hover,
  &:focus,
  &:active {
    .description h3 {
      color: colors.$primary;
      transition: color 0.15s ease, border-color 0.15s ease;
    }

    border-color: colors.$primary;
  }

  @media (prefers-color-scheme: dark) {
    border-color: #222;
  }
}

.pizzaList {
  padding-left: 0;

  li {
    display: inline;
  }
}

.prices {
  span {
    margin-right: 1rem;
  }

  th,
  td {
    padding-right: 1rem;
    text-align: center;
  }
}

.pizzaSelect {
  margin-top: 1rem;

  select,
  input {
    margin-left: 0.5rem;
  }
}
.shoppingCartIcon {
  margin-right: 0.5rem;
}
